<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Air Ticket Reservation System</title>
    <!-- import the CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
<nav>
    <!-- navigation bar, go to customer, index() -->
    <a href="{{ url_for('customer.index') }}">Home</a>

    {% if session.get('user_role') %}
        <!-- <span> Hello {{ session.get('user_name') }} </span> -->
        {% if session.get('user_role') == 'customer' %}
            <a href="{{ url_for('customer.dashboard') }}">My Flights</a>
            <a href="{{ url_for('customer.spending') }}">My Spending</a>
            <a href="{{ url_for('customer.profile') }}">My Profile</a>
        {% endif %}
        {% if session.get('user_role') == 'agent' %}
            <a href="{{ url_for('agent.dashboard') }}">Flights Sold</a>
        {% endif %}
        <a href="{{ url_for('auth.logout') }}">Logout</a>
    {% else %}
        <a href="{{ url_for('auth.login') }}">Login</a>
        <a href="{{ url_for('auth.register') }}">Register</a>
    {% endif %}

</nav>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flash">
      {% for m in messages %}
        <li>{{ m }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<hr>

{% block content %}{% endblock %}
</body>
</html>
