{% extends "base.html" %}

{% block content %}
<h1>Air Ticket Reservation System</h1>

<!-- Search Upcoming Flights -->
<h2>Search Upcoming Flights</h2>

<form class="air-filter-bar search-flights" method="GET" action="{{ url_for('search_flights.search_flights') }}">
    <div class="air-filter-item">
        <label>Origin</label>
        <input type="text" name="origin" placeholder="New York / JFK" value="{{ session.get('last_search_origin','') }}">
    </div>

    <div class="air-filter-item">
        <label>Destination</label>
        <input type="text" name="destination" placeholder="Shanghai / PVG" value="{{ session.get('last_search_destination','') }}">
    </div>

    <div class="air-filter-item">
        <label>Date</label>
        <input type="date" name="date" value="{{ session.get('last_search_date','') }}" required>
    </div>

    <button type="submit" class="air-btn-search">Search</button>
</form>


<hr>

<!-- Flight Status Checker -->
<h2>Check Flight Status</h2>

<form class="air-filter-bar flight-status" method="GET" action="{{ url_for('flight_status.flight_status') }}">
    <div class="air-filter-item">
        <label>Airline</label>
        <input type="text" name="airline" placeholder="e.g. United Airlines" required>
    </div>

    <div class="air-filter-item">
        <label>Flight #</label>
        <input type="text" name="flight_num" placeholder="e.g. UA89" required>
    </div>

    <button type="submit" class="air-btn-search">Check</button>
</form>



{% endblock %}
