{% extends "base.html" %}

{% block content %}
<h2 class="login-title">Login</h2>

<form class="login-form" method="post" action="{{ url_for('auth.login') }}">
    <div class="login-group">
        <label>Username (email)</label>
        <input type="text" name="email" required>
    </div>

    <div class="login-group">
        <label>Password</label>
        <input type="password" name="password" required>
    </div>

    <button type="submit" class="login-btn">Login</button>
</form>
{% endblock %}
