{% extends "base.html" %}

{% block content %}
<h2 class="login-title">Registration</h2>

<form class="login-form" method="post" action="{{ url_for('auth.register') }}">

    <div class="login-group">
        <label>Name</label>
        <input type="text" name="name" placeholder="Your full name" required>
    </div>

    <div class="login-group">
        <label>Email</label>
        <input type="email" name="email" placeholder="example@mail.com" required>
    </div>

    <div class="login-group">
        <label>Password</label>
        <input type="password" name="password" placeholder="Create password" required>
    </div>

    <div class="login-group">
        <label>Confirm Password</label>
        <input type="password" name="confirm" placeholder="Retype password" required>
    </div>

    <button type="submit" class="login-btn">Register</button>
</form>
{% endblock %}
