{% extends "base.html" %}

{% block content %}
<h2>Customer Flight History (for {{ airline_name }})</h2>

<p>Logged in as: {{ session['user_name'] }} ({{ session['user_id'] }})</p>

<hr>

<form method="get" action="{{ url_for('staff.customer_flights') }}" class="air-filter-bar">

    <div class="air-filter-item">
        <label>Customer Email:</label>
        <input type="email" name="customer_email" value="{{ customer_email }}" required>
    </div>

    <div class="air-filter-item">
        <label>Purchase date from (optional):</label>
        <input type="date" name="date_from" value="{{ date_from }}">
    </div>

    <div class="air-filter-item">
        <label>to:</label>
        <input type="date" name="date_to" value="{{ date_to }}">
    </div>

    <button type="submit" class="air-btn-search">Show Flights</button>
</form>


<hr>

{% if customer_email %}
    {% if flights and flights|length > 0 %}
        <h3>Flights for {{ customer_email }}</h3>
        <table class='book-table' border="1">
            <tr>
                <th>Flight #</th>
                <th>From</th>
                <th>To</th>
                <th>Departure</th>
                <th>Arrival</th>
                <th>Status</th>
                <th>Seat Class</th>
                <th>Purchase Date</th>
                <th>Price</th>
            </tr>
            {% for f in flights %}
            <tr>
                <td>{{ f.flight_num }}</td>
                <td>{{ f.departure_airport }}</td>
                <td>{{ f.arrival_airport }}</td>
                <td>{{ f.departure_time }}</td>
                <td>{{ f.arrival_time }}</td>
                <td>{{ f.status }}</td>
                <td>{{ f.seat_class_id }}</td>
                <td>{{ f.purchase_date }}</td>
                <td>{{ f.purchase_price }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No flights found for this customer on {{ airline_name }}.</p>
    {% endif %}
{% endif %}

{% endblock %}