{% extends "base.html" %}

{% block content %}
<h2>Passenger List</h2>

<p>Airline: <strong>{{ airline_name }}</strong></p>

<hr>

<form method="get" action="{{ url_for('staff.passengers') }}" class="air-filter-bar">

    <div class="air-filter-item">
        <label>Flight #:</label>
        <input type="text" name="flight_num" value="{{ flight_num }}" required>
    </div>

    <div class="air-filter-item">
        <label>Departure date (optional):</label>
        <input type="date" name="date" value="{{ date }}">
    </div>

    <button type="submit" class="air-btn-search">Show Passengers</button>
</form>


<hr>

{% if flight_num %}
    {% if passengers and passengers|length > 0 %}
        <h3>Passengers for flight {{ flight_num }} {% if date %}on {{ date }}{% endif %}</h3>

        <table class="book-table" border="1">
            <tr>
                <th>Customer Email</th>
                <th>Customer Name</th>
                <th>Seat Class ID</th>
                <th>Purchase Date</th>
                <th>Purchase Price</th>
                <th>Departure</th>
                <th>Arrival</th>
            </tr>
            {% for p in passengers %}
            <tr>
                <td>{{ p.customer_email }}</td>
                <td>{{ p.customer_name }}</td>
                <td>{{ p.seat_class_id }}</td>
                <td>{{ p.purchase_date }}</td>
                <td>{{ p.purchase_price }}</td>
                <td>{{ p.departure_airport }} ({{ p.departure_time }})</td>
                <td>{{ p.arrival_airport }} ({{ p.arrival_time }})</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No passengers found for this flight.</p>
    {% endif %}
{% endif %}

{% endblock %}